<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-scgpush"
    version="1.0.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>SCGPush</name>
    <description>SCGPush description</description>
    <author>SCG</author>
    <license>Apache 2.0</license>
    <keywords>cordova,scg,push notification</keywords>
    <repo></repo>
    <issue></issue>
    
    <js-module src="www/scgpush.js" name="scgpush">
    </js-module>
    
    <engines>
        <engine name="cordova" version=">=1.7.0" />
        <engine name="cordova-ios" version=">=1.7.1" />
    </engines>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SCGPush">
                <param name="ios-package" value="SCGPush"/>
            </feature>
        </config-file>
        <header-file src="ios/SCGPushSDK/HttpRedirectDecisionMaker.h" />
        <source-file src="ios/SCGPushSDK/HttpRedirectDecisionMaker.m" />
        <header-file src="ios/SCGPushSDK/SCGPush.h" />
        <source-file src="ios/SCGPushSDK/SCGPush.m" />
        <header-file src="ios/SCGPushSDK/SCGPushAttachment.h" />
        <source-file src="ios/SCGPushSDK/SCGPushAttachment.m" />
        <header-file src="ios/SCGPushSDK/SCGPushBase.h" />
        <header-file src="ios/SCGPushSDK/SCGPushCoreDataManager.h" />
        <source-file src="ios/SCGPushSDK/SCGPushCoreDataManager.m" />
        <header-file src="ios/SCGPushSDK/SCGPushDelegate.h" />
        <header-file src="ios/SCGPushSDK/SCGPushError.h" />
        <source-file src="ios/SCGPushSDK/SCGPushError.m" />
        <header-file src="ios/SCGPushSDK/SCGPushErrorFactory.h" />
        <source-file src="ios/SCGPushSDK/SCGPushErrorFactory.m" />
        <header-file src="ios/SCGPushSDK/SCGPushMessage.h" />
        <source-file src="ios/SCGPushSDK/SCGPushMessage.m" />
        <header-file src="ios/SCGPushSDK/SCGPushSDK.h" />
    </platform>
</plugin>
