<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-scgpush" version="0.2.3">
    <name>SCGPush</name>
    <description>SCGPush</description>
    <license>Apache 2.0</license>
    <keywords>cordova,scg,push notification</keywords>
    <js-module src="www/scgpush.js" name="scgpush">
        <clobbers target="scgpush" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SCGPush">
                <param name="ios-package" value="SCGPush"/>
            </feature>
        </config-file>
        <header-file src="SCGPushSDK/HttpRedirectDecisionMaker.h" />
        <source-file src="SCGPushSDK/HttpRedirectDecisionMaker.m" />
        <header-file src="SCGPushSDK/SCGPush.h" />
        <source-file src="SCGPushSDK/SCGPush.m" />
        <header-file src="SCGPushSDK/SCGPushAttachment.h" />
        <source-file src="SCGPushSDK/SCGPushAttachment.m" />
        <header-file src="SCGPushSDK/SCGPushBase.h" />
        <header-file src="SCGPushSDK/SCGPushCoreDataManager.h" />
        <source-file src="SCGPushSDK/SCGPushCoreDataManager.m" />
        <header-file src="SCGPushSDK/SCGPushDelegate.h" />
        <header-file src="SCGPushSDK/SCGPushError.h" />
        <source-file src="SCGPushSDK/SCGPushError.m" />
        <header-file src="SCGPushSDK/SCGPushErrorFactory.h" />
        <source-file src="SCGPushSDK/SCGPushErrorFactory.m" />
        <header-file src="SCGPushSDK/SCGPushMessage.h" />
        <source-file src="SCGPushSDK/SCGPushMessage.m" />
        <header-file src="SCGPushSDK/SCGPushSDK.h" />
    </platform>
</plugin>
